.docker
.dockerignore
coverage
dist
node_modules
test
.env*
.eslintrc.js
.git*
.gitlab-ci.yml
.prettierrc
Dockerfile
docker-compose.yml
README.md
LICENSE
test.js
storage/downloads/*
storage/uploads/*
storage/*.key*
logs
yarn.lock
yarn-error.log
nest-cli.json
.DS_Store
k8s
.scannerwork
sonar-project.properties*
updateSonarProps.sh
jest.config.js
.commitlintrc.js